fastapi==0.141.1
uvicorn==0.53.0
python-dotenv==1.2.3
requests==2.34.2
networkx==3.6.1
pyvis==0.3.2
fpdf==1.7.2
psycopg2-binary==2.9.13
pydantic==2.13.5
Jinja2==3.1.6
jsonpickle==4.1.2
matplotlib-inline==0.2.2
vercel